# Processing DataFrames with Pandas

This is the notebook for processing data with Pandas, and compare code + running time with the same process on Pandas (available on `processing_with_pyspark.ipynb`).

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('tweets.csv', header=None, escapechar='\\', encoding='latin-1')
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,593932392663912449,RT @morningJewshow: Speaking about Jews and co...,"<a href=""http://tapbots.com/tweetbot"" rel=""nof...",678033,NaN,0,0,NaN,593932168524533760,N,...,NaN,NaN,N,0,0,1,Fri May 01 00:18:11 +0000 2015,2015-05-01 02:18:11,2015-05-01 12:57:19,2015-05-01 12:57:19
1,593895316719423488,This age/face recognition thing..no reason pla...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",678033,NaN,0,0,NaN,0,N,...,NaN,NaN,N,0,0,0,Thu Apr 30 21:50:52 +0000 2015,2015-04-30 23:50:52,2015-05-01 12:57:19,2015-05-01 12:57:19
2,593880638069018624,Only upside of the moment I can think of is th...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",678033,NaN,0,0,NaN,0,N,...,NaN,NaN,N,2,0,0,Thu Apr 30 20:52:32 +0000 2015,2015-04-30 22:52:32,2015-05-01 12:57:19,2015-05-01 12:57:19
3,593847955536252928,If you're going to think about+create experien...,"<a href=""http://tapbots.com/tweetbot"" rel=""nof...",678033,NaN,0,0,NaN,0,N,...,NaN,NaN,N,2,0,0,Thu Apr 30 18:42:40 +0000 2015,2015-04-30 20:42:40,2015-05-01 12:57:19,2015-05-01 12:57:19
4,593847687847350272,Watching a thread on FB about possible future ...,"<a href=""http://tapbots.com/tweetbot"" rel=""nof...",678033,NaN,0,0,NaN,0,N,...,NaN,NaN,N,0,0,0,Thu Apr 30 18:41:36 +0000 2015,2015-04-30 20:41:36,2015-05-01 12:57:19,2015-05-01 12:57:19

In [3]:
from datetime import datetime

start = datetime.now()

result = df.groupby(3)[3] \
  .count() \
  .sort_values() \
  .head(10)

print("Consumed time:", datetime.now() - start)

Consumed time: 0:00:00.222995

In [4]:
result

3
514061230     3
2679802405    4
2376957437    5
298816641     5
3021545411    5
1220963168    6
3161171948    6
136799314     7
945700081     7
86235989      9
Name: 3, dtype: int64